{:paths ["resources" "src" "classes"]
 :deps {org.apache.pdfbox/pdfbox {:mvn/version "3.0.3"}
        tick/tick {:mvn/version "1.0"}
        dev.nubank/docopt {:mvn/version "0.6.1-fix7"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  :uberjar
  {:replace-deps {uberdeps/uberdeps {:mvn/version "1.4.0"}}
   :replace-paths []
   :main-opts ["-m" "uberdeps.uberjar"]}}}
